<div class="footer-container">
  <div class="container">
  <footer class="d-flex flex-wrap justify-content-between  py-3 border-top main-footer">
    <div class="col-3 about-us">
        <h2 class="about-us-header">Về chúng tôi</h2>
        <p class="about-us-desc">
          4S Fashion - Thời trang công sở đem lại sự tự tin, trẻ trung, phong cách cho mỗi ngày
        </p>
        <p class="about-us-location">
          <i class="fa-solid fa-location-dot"></i>
          Khóm 5, Thị trấn Càng Long, Càng Long, Trà Vinh
        </p>
        <p class="about-us-phone">
          <i class="fa-solid fa-phone"></i>
          0765427201
        </p>
        <p class="about-us-hotline">
          <i class="fa-solid fa-phone"></i>
          0947319999
        </p>
        <p class="about-us-email">
          <i class="fa-solid fa-envelope"></i>
          0947319999
        </p>
    </div>
    <div class="col-3 brand">
      <h2 class="brand-header">
        Thương hiệu
      </h2>
      <a href="" class="brand-introduce">
        Giới thiệu
      </a>
      <a href="" class="brand-recruit">
        Tuyển dụng
      </a>
      <a href="" class="brand-system">
        Hệ thống cửa hàng
      </a>
      <a href="" class="brand-contact">
        Liên hệ 
      </a>
    </div>
    <div class="col-3 suppoort">
      <h2 class="suppoort-header">
        Hỗ trợ
      </h2>
       <a href="" class="support-FAQs">
        FAQs - Hỏi đáp
      </a>
       <a href="" class="support-transport-policy">
        Chính sách vận chuyển 
      </a>
       <a href="" class="support-pay">
        Hướng dẫn thanh toán
      </a>
       <a href="" class="support-order">
        Kiểm tra đơn hàng
      </a>
       <a href="" class="support-regulation">
        Quy định đổi hàng
      </a>
    </div>
  </footer>
</div>
</div>