{{!-- Big Carousel --}}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
   <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
         aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
         aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
         aria-label="Slide 3"></button>
   </div>
   <div class="carousel-inner" style="height: 600px;">
      <div class="carousel-item active">
         <img src="img/couple.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
         <img src="img/couple2.jpg" style="transform: translateY(-200px);" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
         <img src="img/couple3.jpg" class="d-block w-100" alt="...">
      </div>
   </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
   </button>
</div>

{{!-- Album --}}
<div class="row header-container">
   <h1 class="album-header">Bộ sưu tập</h1>
   <p class="header-desc">Bộ sưu tập thu đông nổi bật với các họa tiết tinh tế lại có mức giá rẻ.</p>
</div>
<div class="container overflow-hidden">
   <div class="row">
      <div class="col-4 album-col  ">
         <a href="" class="row sanh-dieu album-item">
            <img src="img/album1.jpg" class="album-img" alt="">
            <div class="album-desc">
               <p>NHỮNG SET ĐỒ <br> <span style="font-weight: 700;">HÀNG HIỆU</span> </p>
               <p class="album-buy-now">MUA NGAY</p>
            </div>
         </a>
         <a href="" class="row ao-len album-item">
            <img src="img/album2.jpg" class="album-img" style="bottom: 0; height: 100%" alt="">
            <div class="album-desc">
               <p>BỘ SƯU TẬP <br> <span style="font-weight: 700;">ÁO LEN CHO NAM GIỚI</span> </p>
               <p class="album-buy-now">MUA NGAY</p>
            </div>
         </a>
      </div>
      <div class="col-4 album-col">
         <a href="" class="row thanh-vien album-item ">
            <img src="img/album3.jpg" class="album-img " alt="">
            <div class="album-desc album-desc-3">
               ƯU ĐÃI <BR> <SPAn style="font-weight: 700;">CHO THÀNH VIÊN</SPAn> <br>
               <p class="album-buy-now">MUA NGAY</p>
            </div>
         </a>
      </div>
      <div class="col-4 album-col  ">
         <a href="" class="row phu-kien album-item">
            <img src="img/album4.jpg" class="album-img" alt="">
            <div class="album-desc">
               <p>GIẢM GIÁ <br> <span style="font-weight: 700;">PHỤ KIỆN </span> <br></p>
               <p class="album-buy-now">MUA NGAY</p>
            </div>
         </a>
         <a href="" class="row nguoi-than album-item">
            <img src="img/album5.jpg" class="album-img" alt="">
            <div class="album-desc">
               <p>THIẾT KẾ GIỚI HẠN <BR> <span style="font-weight: 700;">GỬI TẶNG NGƯỜI THÂN</span></p>
               <p class="album-buy-now">MUA NGAY</p>
            </div>
         </a>
      </div>
   </div>
</div>

{{!-- Main accessory --}}
<div class="main-accessory-container">
   <img src="img/album6.jpg" class="main-accessory-img " alt="">
   <div class="main-accessory-content ">
      <h1>Phụ kiện chính hãng</h1>
      <p>Giảm giá 35% trên tất cả các sản phẩm duy nhất hôm nay</p>
      <div class="main-accessory-products row col-2 offset-7">
         <div class="main-accessory-item  ">
            <a href="items/623ec6a908d67505a1959bbe" class="main-accessory-link">
               <img src="img/trousers1.jpg" class="main-accessory-products-img" alt="">
               <div class="main-accessory-products-desc ">
                  <p class="main-accessory-products-name">
                     Quần Nam 1
                  </p>
                  <p class="main-accessroy-products-price">
                     2000000 đ
                  </p>
               </div>
            </a>
            <div class="main-accessory-products-btn main-accessory-left">
               <a href="" class="main-accessory-products-btn-item">
                  <i class="fa-solid fa-cart-arrow-down"></i>
               </a>
               <a href="" class="main-accessory-products-btn-item">
                  <i class="fa-solid fa-magnifying-glass"></i>
               </a>
               <a href="" class="main-accessory-products-btn-item">
                  <i class="fa-solid fa-code-compare"></i>
               </a>
            </div>
         </div>
         <div class="main-accessory-item  ">
            <a href="items/623ec6c408d67505a1959bc0" class="main-accessory-link">
               <img src="img/trousers2.jpg" class="main-accessory-products-img" alt="">
               <div class="main-accessory-products-desc">
                  <p class="main-accessory-products-name">
                    Quần Nam 2
                  </p>
                  <p class="main-accessroy-products-price">
                    2500000 đ
                  </p>
               </div>
            </a>
            <div class="main-accessory-products-btn main-accessory-left">
               <a href="" class="main-accessory-products-btn-item">
                  <i class="fa-solid fa-cart-arrow-down"></i>
               </a>
               <a href="" class="main-accessory-products-btn-item">
                  <i class="fa-solid fa-magnifying-glass"></i>
               </a>
               <a href="" class="main-accessory-products-btn-item">
                  <i class="fa-solid fa-code-compare"></i>
               </a>
            </div>
         </div>
         <div class="main-accessory-item  ">
            <a href="items/623ec6d908d67505a1959bc2" class="main-accessory-link">
               <img src="img/trousers3.jpg" class="main-accessory-products-img" alt="">
               <div class="main-accessory-products-desc">
                  <p class="main-accessory-products-name">
                     Quần Âu 1
                  </p>
                  <p class="main-accessroy-products-price">
                   50000 đ
                  </p>
               </div>
            </a>
            <div class="main-accessory-products-btn main-accessory-left">
               <a href="" class="main-accessory-products-btn-item">
                  <i class="fa-solid fa-cart-arrow-down"></i>
               </a>
               <a href="" class="main-accessory-products-btn-item">
                  <i class="fa-solid fa-magnifying-glass"></i>
               </a>
               <a href="" class="main-accessory-products-btn-item">
                  <i class="fa-solid fa-code-compare"></i>
               </a>
            </div>
         </div>
         <div class="main-accessory-item  ">
            <a href="" class="main-accessory-link">
               <img src="img/trousers4.jpg" class="main-accessory-products-img" alt="">
               <div class="main-accessory-products-desc">
                  <p class="main-accessory-products-name">
                     Quần Âu DA12
                  </p>
                  <p class="main-accessroy-products-price">
                     2500000 đ
                  </p>
               </div>
            </a>
            <div class="main-accessory-products-btn main-accessory-left">
               <a href="" class="main-accessory-products-btn-item">
                  <i class="fa-solid fa-cart-arrow-down"></i>
               </a>
               <a href="" class="main-accessory-products-btn-item">
                  <i class="fa-solid fa-magnifying-glass"></i>
               </a>
               <a href="" class="main-accessory-products-btn-item">
                  <i class="fa-solid fa-code-compare"></i>
               </a>
            </div>
         </div>
      </div>
   </div>
   <a href="" class="main-accessory-right-arrow main-accessory-arrow offset-7">
      <i class="fas fa-arrow-circle-right"></i>
   </a>
   <a href="" class="main-accessory-left-arrow main-accessory-arrow offset-7">
      <i class="fas fa-arrow-circle-left"></i>
   </a>
</div>

{{!-- Main Items --}}
<div class="container">
   <h1 class="MIs-header">
      Tất cả sản phẩm
   </h1>
   <p class="MIs-desc">
      Tất cả sản phẩm của chúng tôi là những mẫu mới nhất được nhiều khách hàng quan tâm
   </p>
   <div class="row ">
      <div class="MIs-tab-container col-9">
         <a href="" class="MIs-tab">Combo</a>
         <a href="" class="MIs-tab">Quần</a>
         <a href="" class="MIs-tab">Áo</a>
      </div>
   </div>
   <div class="MIs-products MIs-combo row  active-flex">
      <div href="" class="MIs-product col-3">
         <a href="items/623ec6c408d67505a1959bc0" class="MIs-product-wrapper">
            <img class="MIs-product-img" src="img/trousers2.jpg" alt="">
            <p class="MIs-product-title">Quần Nam 2</p>
            <p class="MIs-product-price">2500000 đ</p>
         </a>
         <div class="main-accessory-products-btn MIs-product-btn">
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-cart-arrow-down"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-code-compare"></i>
            </a>
         </div>
      </div>
      <div href="items/623ec6a908d67505a1959bbe" class="MIs-product col-3">
         <a href="items/623eccf845c73493285630a3" class="MIs-product-wrapper">
            <img class="MIs-product-img" src="img/short3.jpg" alt="">
            <p class="MIs-product-title">Quần Short 3</p>
            <p class="MIs-product-price">400000đ</p>
         </a>
         <div class="main-accessory-products-btn MIs-product-btn">
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-cart-arrow-down"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-code-compare"></i>
            </a>
         </div>
      </div>
      <div href="" class="MIs-product col-3">
         <a href="items/623ec6d908d67505a1959bc2" class="MIs-product-wrapper">
            <img class="MIs-product-img" src="img/trousers3.jpg" alt="">
            <p class="MIs-product-title">Quần Âu 1</p>
            <p class="MIs-product-price">50000 đ</p>
         </a>
         <div class="main-accessory-products-btn MIs-product-btn">
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-cart-arrow-down"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-code-compare"></i>
            </a>
         </div>
      </div>
      <div href="" class="MIs-product col-3">
         <a href="items/623ec6d908d67505a1959bc2" class="MIs-product-wrapper">
            <img class="MIs-product-img" src="img/trousers3.jpg" alt="">
            <p class="MIs-product-title">Quần Âu 1</p>
            <p class="MIs-product-price">50000đ</p>
         </a>
         <div class="main-accessory-products-btn MIs-product-btn">
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-cart-arrow-down"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-code-compare"></i>
            </a>
         </div>
      </div>
   </div>
   <div class="MIs-products MIs-trousers row ">
      <div href="" class="MIs-product col-3">
         <a href="items/623eccae45c734932856309d" class="MIs-product-wrapper">
            <img class="MIs-product-img" src="img/trousers3.jpg" alt="">
            <p class="MIs-product-title">Quần Âu 1</p>
            <p class="MIs-product-price">50000 đ</p>
         </a>
         <div class="main-accessory-products-btn MIs-product-btn">
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-cart-arrow-down"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-code-compare"></i>
            </a>
         </div>
      </div>
      <div href="" class="MIs-product col-3">
         <a href="items/623eccae45c734932856309d" class="MIs-product-wrapper">
            <img class="MIs-product-img" src="img/trousers2.jpg" alt="">
            <p class="MIs-product-title">Quần áo thể thao nam ALH17-09</p>
            <p class="MIs-product-price">550,000 đ</p>
         </a>
         <div class="main-accessory-products-btn MIs-product-btn">
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-cart-arrow-down"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-code-compare"></i>
            </a>
         </div>
      </div>
      <div href="" class="MIs-product col-3">
         <a href="items/623eccae45c734932856309d" class="MIs-product-wrapper">
            <img class="MIs-product-img" src="img/trousers3.jpg" alt="">
            <p class="MIs-product-title">Quần áo thể thao nam ALH17-09</p>
            <p class="MIs-product-price">550,000 đ</p>
         </a>
         <div class="main-accessory-products-btn MIs-product-btn">
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-cart-arrow-down"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-code-compare"></i>
            </a>
         </div>
      </div>
      <div href="" class="MIs-product col-3">
         <a href="items/623eccae45c734932856309d" class="MIs-product-wrapper">
            <img class="MIs-product-img" src="img/trousers4.jpg" alt="">
            <p class="MIs-product-title">Quần áo thể thao nam ALH17-09</p>
            <p class="MIs-product-price">550,000 đ</p>
         </a>
         <div class="main-accessory-products-btn MIs-product-btn">
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-cart-arrow-down"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-code-compare"></i>
            </a>
         </div>
      </div>
      <div href="" class="MIs-product col-3">
         <a href="items/623eccae45c734932856309d" class="MIs-product-wrapper">
            <img class="MIs-product-img" src="img/trousers5.jpg" alt="">
            <p class="MIs-product-title">Quần áo thể thao nam ALH17-09</p>
            <p class="MIs-product-price">550,000 đ</p>
         </a>
         <div class="main-accessory-products-btn MIs-product-btn">
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-cart-arrow-down"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-code-compare"></i>
            </a>
         </div>
      </div>
      <div class="trousers-left-btn trousers-btn">
         <i class="fa-solid fa-caret-left" style="margin-left: 6px;"></i>
      </div>
      <div class="trousers-right-btn trousers-btn">
         <i class="fa-solid fa-caret-right" style="margin-right: 6px;"></i>
      </div>
   </div>
   <div class="MIs-products MIs-shirt row ">
      <div href="" class="MIs-product col-3">
         <a href="items/623ecddb45c73493285630a9" class="MIs-product-wrapper">
            <img class="MIs-product-img" src="img/polo1.jpg" alt="">
            <p class="MIs-product-title"> Áo Polo 1</p>
            <p class="MIs-product-price">200000 đ</p>
         </a>
         <div class="main-accessory-products-btn MIs-product-btn">
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-cart-arrow-down"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-code-compare"></i>
            </a>
         </div>
      </div>
      <div href="" class="MIs-product col-3">
         <a href="items/623ecdf645c73493285630ab" class="MIs-product-wrapper">
            <img class="MIs-product-img" src="img/polo2.jpg" alt="">
            <p class="MIs-product-title">Áo Polo 2</p>
            <p class="MIs-product-price">1150000 đ</p>
         </a>
         <div class="main-accessory-products-btn MIs-product-btn">
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-cart-arrow-down"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-code-compare"></i>
            </a>
         </div>
      </div>
      <div href="" class="MIs-product col-3">
         <a href="items/623ece0645c73493285630ad" class="MIs-product-wrapper">
            <img class="MIs-product-img" src="img/polo3.jpg" alt="">
            <p class="MIs-product-title">
                            Áo Polo 3
                        </p>
            <p class="MIs-product-price">
                            340000 đ
                        </p>
         </a>
         <div class="main-accessory-products-btn MIs-product-btn">
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-cart-arrow-down"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-code-compare"></i>
            </a>
         </div>
      </div>
      <div href="" class="MIs-product col-3">
         <a href="items/623ece3645c73493285630b1" class="MIs-product-wrapper">
            <img class="MIs-product-img" style="object-position: 72%;" src="img/polo5.jpg" alt="">
            <p class="MIs-product-title">
                            Áo Polo 5
                        </p>
            <p class="MIs-product-price">
                            500000 đ
                        </p>
         </a>
         <div class="main-accessory-products-btn MIs-product-btn">
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-cart-arrow-down"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-code-compare"></i>
            </a>
         </div>
      </div>
      <div href="" class="MIs-product col-3">
         <a href="items/623eccf845c73493285630a3" class="MIs-product-wrapper">
            <img class="MIs-product-img" src="img/shirt5.jpg" alt="">
            <p class="MIs-product-title">Quần áo thể thao nam ALH17-09</p>
            <p class="MIs-product-price">550,000 đ</p>
         </a>
         <div class="main-accessory-products-btn MIs-product-btn">
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-cart-arrow-down"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a href="" class="main-accessory-products-btn-item">
               <i class="fa-solid fa-code-compare"></i>
            </a>
         </div>
      </div>
      <div class="shirt-left-btn shirt-btn">
         <i class="fa-solid fa-caret-left" style="margin-left: 6px;"></i>
      </div>
      <div class="shirt-right-btn shirt-btn">
         <i class="fa-solid fa-caret-right" style="margin-right: 6px;"></i>
      </div>
   </div>
</div>

{{!-- News --}}
<div class="container">
   <h1 class="news-header">Tin tức & Blog</h1>
   <div class="news-wrapper">

      <div class="row news-container" style="transform: translateX(0);">
         <div class="news-item col-3">
            <img class="news-img" draggable="true" src="img/news1.jpg" alt="">
            <div class="news-title">Sau BST đẹp xuất sắc tại Tokyo Fashion Week</div>
            <div class="news-desc">Hãy tạm gạt qua một bên những bon chen tại Seoul Fashion Week để tận hưởng thành quả
               mà tạp chí thời trang số 1 thế giới...</div>
         </div>
         <div class="news-item col-3">
            <img class="news-img" draggable="true" src="img/news2.jpg" alt="">
            <div class="news-title">Sau BST đẹp xuất sắc tại Tokyo Fashion Week</div>
            <div class="news-desc">Hãy tạm gạt qua một bên những bon chen tại Seoul Fashion Week để tận hưởng thành quả
               mà tạp chí thời trang số 1 thế giới...</div>
         </div>
         <div class="news-item col-3">
            <img class="news-img" dragable="true" src="img/news3.jpg" alt="">
            <div class="news-title">Sau BST đẹp xuất sắc tại Tokyo Fashion Week</div>
            <div class="news-desc">Hãy tạm gạt qua một bên những bon chen tại Seoul Fashion Week để tận hưởng thành quả
               mà tạp chí thời trang số 1 thế giới...</div>
         </div>
         <div class="news-item col-3">
            <img class="news-img" draggable="true" src="img/news4.jpg" alt="">
            <div class="news-title">Sau BST đẹp xuất sắc tại Tokyo Fashion Week</div>
            <div class="news-desc">Hãy tạm gạt qua một bên những bon chen tại Seoul Fashion Week để tận hưởng thành quả
               mà tạp chí thời trang số 1 thế giới...</div>
         </div>
         <div class="news-item col-3">
            <img class="news-img" draggable="true" src="img/news5.jpg" alt="">
            <div class="news-title">Sau BST đẹp xuất sắc tại Tokyo Fashion Week</div>
            <div class="news-desc">Hãy tạm gạt qua một bên những bon chen tại Seoul Fashion Week để tận hưởng thành quả
               mà tạp chí thời trang số 1 thế giới...</div>
         </div>
         <div class="news-item col-3">
            <img class="news-img" draggable="true" src="img/news6.jpg" alt="">
            <div class="news-title">Sau BST đẹp xuất sắc tại Tokyo Fashion Week</div>
            <div class="news-desc">Hãy tạm gạt qua một bên những bon chen tại Seoul Fashion Week để tận hưởng thành quả
               mà tạp chí thời trang số 1 thế giới...</div>
         </div>
      </div>
   </div>

</div>

{{!-- Customer feedback --}}

<div class="reitems-container">
   <div class="container">
      <div class="row">
         <div class="foot-me col-3">
            <header class="me-header foot-header">Khách hàng nói gì</header>
            <div class="me-container">
               <img class="me-img" src="img/me.jpg" alt="">
               <p class="me-name">Pixel</p>
            </div>
            <div class="me-decs">
               " Là một nhân viên văn phòng ưa thích thời trang tôi rất hài lòng về sản phẩm từ chất lượng cho tới kiểu
               dáng, bắt kịp xu hướng và mức giá hấp dẫn "
            </div>

         </div>
         <div class="foot-shirt col-3">
            <header class="foot-shirt-header foot-header">Áo thun cao cấp</header>
            <div class="foot-shirt-container">
               <div class="foot-shirt-btn">
                  <i class="fa-solid fa-caret-left foot-shirt-left-btn"></i>
                  <i class="fa-solid fa-caret-right foot-shirt-right-btn"></i>
               </div>
               <a href="items/623ecddb45c73493285630a9" class="foot-shirt-item row">
                  <div class="col-5">
                     <img src="img/polo1.jpg"    alt="" class="foot-shirt-img ">
                  </div>
                  <div class="foot-shirt-desc col-7">
                     <p class="foot-shirt-name">
                            Áo Polo 1
                        </p>
                     <p class="foot-shirt-price">
                            200000 đ
                        </p>
                  </div>
               </a>
               <a href="items/623ecdf645c73493285630ab" class="foot-shirt-item row">
                  <div class="col-5">
                     <img src="img/polo2.jpg" alt="" class="foot-shirt-img ">
                  </div>
                  <div class="foot-shirt-desc col-7">
                     <p class="foot-shirt-name">
                            Áo Polo 2
                        </p>
                     <p class="foot-shirt-price">
                            1150000 đ
                        </p>
                  </div>
               </a>
               <a href="items/623ece0645c73493285630ad" class="foot-shirt-item row">
                  <div class="col-5">
                     <img src="img/polo3.jpg" alt="" class="foot-shirt-img ">
                  </div>
                  <div class="foot-shirt-desc col-7">
                     <p class="foot-shirt-name">
                            Áo Polo 3
                        </p>
                     <p class="foot-shirt-price">
                            340000 đ
                        </p>
                  </div>
               </a>
            </div>
         </div>
         <div class="foot-shirt col-3">
            <header class="foot-shirt-header foot-header">Quần âu</header>
            <div class="foot-short-container">
               <div class="foot-shirt-btn">
                  <i class="fa-solid fa-caret-left foot-short-left-btn"></i>
                  <i class="fa-solid fa-caret-right foot-short-right-btn"></i>
               </div>
               <a href="items/623ec6a908d67505a1959bbe" class="foot-short-item row">
                  <div class="col-5">
                     <img src="img/trousers1.jpg" alt="" class="foot-shirt-img ">
                  </div>
                  <div class="foot-shirt-desc col-7">
                     <p class="foot-shirt-name">
                            Quần Nam 1
                        </p>
                     <p class="foot-shirt-price">
                            2000000 đ
                        </p>
                  </div>
               </a>
               <a href="items/623ec6c408d67505a1959bc0" class="foot-short-item row">
                  <div class="col-5">
                     <img src="img/trousers2.jpg" alt="" class="foot-shirt-img ">
                  </div>
                  <div class="foot-shirt-desc col-7">
                     <p class="foot-shirt-name">
                            Quần Nam 2
                        </p>
                     <p class="foot-shirt-price">
                            2500000 đ
                        </p>
                  </div>
               </a>
               <a href="items/623ec6d908d67505a1959bc2" class="foot-short-item row">
                  <div class="col-5">
                     <img src="img/trousers3.jpg" alt="" class="foot-shirt-img ">
                  </div>
                  <div class="foot-shirt-desc col-7">
                     <p class="foot-shirt-name">
                            Quần Âu 1
                        </p>
                     <p class="foot-shirt-price">
                            50000 đ
                        </p>
                  </div>
               </a>
            </div>
         </div>
         <div class="foot-shirt col-3">
            <header class="foot-shirt-header foot-header">Combo</header>
            <div class="foot-combo-container">
               <div class="foot-shirt-btn">
                  <i class="fa-solid fa-caret-left foot-combo-left-btn"></i>
                  <i class="fa-solid fa-caret-right foot-combo-right-btn"></i>
               </div>
               <a href="items/623ece9545c73493285630b9" class="foot-combo-item row">
                  <div class="col-5">
                     <img src="img/longshirt1.jpg" alt="" class="foot-shirt-img ">
                  </div>
                  <div class="foot-shirt-desc col-7">
                     <p class="foot-shirt-name">
                            Áo thun dài tay 1
                        </p>
                     <p class="foot-shirt-price">
                            300000 đ
                        </p>
                  </div>
               </a>
               <a href="items/623ecea445c73493285630bb" class="foot-combo-item row">
                  <div class="col-5">
                     <img src="img/longshirt2.jpg" alt="" class="foot-shirt-img ">
                  </div>
                  <div class="foot-shirt-desc col-7">
                     <p class="foot-shirt-name">
                            Áo thun dài tay 2
                        </p>
                     <p class="foot-shirt-price">
                            300000 đ
                        </p>
                  </div>
               </a>
               <a href="items/623eceb345c73493285630bd" class="foot-combo-item row">
                  <div class="col-5">
                     <img src="img/longshirt3.jpg" alt="" class="foot-shirt-img ">
                  </div>
                  <div class="foot-shirt-desc col-7">
                     <p class="foot-shirt-name">
                            Áo thun dài tay 3
                        </p>
                     <p class="foot-shirt-price">
                            280000 đ
                        </p>
                  </div>
               </a>
            </div>
         </div>

      </div>
   </div>
</div>




<script type="module" src="/js/home.js"></script>