<div class="container mt-5 mb-5 intro-container" >
    <h1 class="intro-header mb-3" >Giới thiệu chung</h1>
<p class="intro-content">Ngày càng nhiều người Việt Nam sử dụng hàng cao cấp đắt tiền, không chỉ vì cái đẹp tinh tế, phong cách khác biệt, mà còn ở bản thân giá trị của thương hiệu đó. Đặt một món đồ hiệu kế bên đồ phổ thông, sẽ rất dễ dàng để nhận ra sự khác biệt đẳng cấp, từ những điểm nhỏ nhặt nhất. Đôi khi chỉ là một logo hết sức đơn giản như dấu Swoosh của Nike chẳng hạn, đơn giản đến mức hoàn hảo.

 </p>
 <p class="intro-content">Với các tín đồ thời trang, mặc hàng hiệu để trải nghiệm chất lượng chỉ mới là điều kiện “cần”, hàng hiệu có phù hợp với phong cách của mình cũng như có bật lên được cá tính của mình không mới là điều kiện “đủ”. Nhiều năm kinh nghiệm trong ngành thời trang, chúng tôi  mang đến những thương hiệu thời trang hàng đầu tại Mỹ như: Affliction, Rebel Spirit, Sinful, True Religion, Ed Hardy, Christian Audigier, Roar, Xzavier, Rawyalty, Konflic, Xtreme Couture, Throwdown, Robin's Jean, Crash & Burn...

 </p>
 <p class="intro-content">
     Trong đó, Affliction, Rebel Spirit, True Religion, Sinful, Roar là những thương hiệu thời trang mới mẻ đối với người Việt Nam, nhưng trên thế giới mà đặc biệt là ở Mỹ, đây là những thương hiệu đậm màu sắc cá tính nhất, luôn được dân sành điệu săn lùng. Những chiếc quần jeans True Religion phủi bụi, chiếc áo thun mang phong cách rock nổi loạn Affliction hay những chiếc áo sơ-mi Roar thiết kế và phối màu độc lạ mang lại một phong cách vừa ấn tượng táo bạo, vừa trẻ trung cá tính cho người mặc.
 </p>
 <p class="intro-content">
     Những thương hiệu này thổi một làn gió hoàn toàn mới vào những tín đồ của thời trang thích sự mới mẻ, lạ lẫm và thể hiện chất riêng của mình.
 </p>
 <p class="intro-content">
     Đến với Hermes Fashion, bạn không chỉ mua được những sản phẩm hàng hiệu chính gốc mà còn sở hữu chúng với những mức giá bất ngờ dựa vào chương trình bán hàng hấp dẫn theo từng đợt của chúng tôi.
 </p>
 <p class="intro-content">
     Hãy đến với Hermes Fashion để trải nghiệm thời trang hàng hiệu theo cách chuyên nghiệp và kinh tế nhất nhé!
 </p>
</div>

 <script>
    const introHeader = document.querySelector('.intro-header')

 </script>