<div class="container mt-4">
    <h1 class="owner-header">ĐƠN ĐẶT</h1>
    <table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên khách</th>
      <th scope="col">Sản phẩm</th>
      <th scope="col">Số lượng</th>
      <th scope="col">Địa chỉ</th>
      <th scope="col">Số điện thoại</th>
    </tr>
  </thead>
  <tbody>
      {{#bill}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.custName}}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      {{/bill}}
  </tbody>
</table>
</div>