<div class="container success-container">
    <img src="/img/submitSuccess.png" class="success-img" alt="">
    <h3 class="success-header">
        Đã đặt hàng thành công
    </h3>
    <a href="/" class="success-btn">Quay về trang chủ</a>
</div>